Repository rei1024/ca-ts, changes with the labels that .github/labeler.yml gives for each.
All labels: package:rule, package:algo, package:rule-format, package:rule-rle, package:apgcode, documentation

feat(apgcode): add numToChar
  packages/apgcode/internal/numToChar.test.ts
  packages/apgcode/internal/numToChar.ts
Labels: none

fix spell
  packages/apgcode/internal/numToChar.test.ts
Labels: none

feat(algo): Improve documentation and add BitGrid.unset
  packages/algo/CHANGELOG.md
  packages/algo/bit/BitGrid.ts
  packages/algo/bit/tests/BitGrid_test.ts
  packages/algo/bit/tests/world.ts
  packages/algo/deno.jsonc
  packages/algo/rule-loader/mod.ts
Labels: package:algo

remove comment
  packages/algo/bit/BitGrid.ts
Labels: none

improve docs
  packages/algo/bit/BitGrid.ts
Labels: none

feat(algo): Improve documentation and add BitGrid.unset (#98)
  packages/algo/CHANGELOG.md
  packages/algo/bit/BitGrid.ts
  packages/algo/bit/tests/BitGrid_test.ts
  packages/algo/bit/tests/world.ts
  packages/algo/deno.jsonc
  packages/algo/rule-loader/mod.ts
Labels: package:algo

feat: encode
  packages/apgcode/internal/numToChar.test.ts
  packages/apgcode/internal/numToChar.ts
Labels: none

feat(algo): improve constructor
  packages/algo/bit/BitGrid.ts
  packages/algo/bit/map/mod.ts
  packages/algo/bit/tests/BitGrid_test.ts
Labels: none

feat: add bench
  packages/algo/bit/tests/bench.ts
Labels: none

feat: add tests
  packages/algo/bit/tests/BitWorld_test.ts
  packages/algo/bit/tests/world.ts
Labels: none

feat(algo): improve (#101)
  packages/algo/bit/BitGrid.ts
  packages/algo/bit/map/mod.ts
  packages/algo/bit/tests/BitGrid_test.ts
  packages/algo/bit/tests/BitWorld_test.ts
  packages/algo/bit/tests/bench.ts
  packages/algo/bit/tests/world.ts
Labels: none

feat: implement
  packages/apgcode/stringifyApgcode.test.ts
  packages/apgcode/stringifyApgcode.ts
Labels: package:apgcode

feat: WIP
  packages/apgcode/stringifyApgcode.test.ts
  packages/apgcode/stringifyApgcode.ts
Labels: package:apgcode

stringifyApgcode
  packages/apgcode/internal/numToChar.test.ts
  packages/apgcode/internal/numToChar.ts
  packages/apgcode/stringifyApgcode.ts
Labels: package:apgcode

feat: add tests
  packages/apgcode/CHANGELOG.md
  packages/apgcode/deno.jsonc
  packages/apgcode/internal/numToChar.test.ts
  packages/apgcode/internal/numToChar.ts
  packages/apgcode/mod.ts
  packages/apgcode/stringifyApgcode.test.ts
  packages/apgcode/stringifyApgcode.ts
Labels: package:apgcode

fix
  cspell.jsonc
  packages/apgcode/stringifyApgcode.test.ts
Labels: package:apgcode

remove code
  packages/apgcode/internal/numToChar.ts
Labels: none

feat: npm
  scripts/build_all.sh
  scripts/package-data.ts
Labels: none

feat(apgcode): stringifyApgcode (#8)
  cspell.jsonc
  packages/apgcode/CHANGELOG.md
  packages/apgcode/deno.jsonc
  packages/apgcode/internal/numToChar.test.ts
  packages/apgcode/internal/numToChar.ts
  packages/apgcode/mod.ts
  packages/apgcode/stringifyApgcode.test.ts
  packages/apgcode/stringifyApgcode.ts
  scripts/build_all.sh
  scripts/package-data.ts
Labels: package:apgcode

feat: Add apgcode npm package to README
  README.md
Labels: documentation

feat: Add apgcode npm package to README (#102)
  README.md
Labels: documentation

feat(apgcode): Add examples
  .github/workflows/publish-npm.yml
  packages/algo/bit/BitGrid.ts
  packages/apgcode/CHANGELOG.md
  packages/apgcode/mod.ts
Labels: package:apgcode

fix: spell
  cspell.jsonc
Labels: none

feat(apgcode): Add examples (#103)
  .github/workflows/publish-npm.yml
  cspell.jsonc
  packages/algo/bit/BitGrid.ts
  packages/apgcode/CHANGELOG.md
  packages/apgcode/mod.ts
Labels: package:apgcode

feat: use ubuntu-slim
  .github/workflows/pr-label.yml
Labels: none

feat: stringifyRule throws unknown type
  packages/rule/CHANGELOG.md
  packages/rule/deno.jsonc
  packages/rule/mod.test.ts
  packages/rule/mod.ts
Labels: package:rule

fix: spell
  packages/rule/mod.test.ts
Labels: package:rule

feat: stringifyRule throws unknown type (#105)
  packages/rule/CHANGELOG.md
  packages/rule/deno.jsonc
  packages/rule/mod.test.ts
  packages/rule/mod.ts
Labels: package:rule

WIP: WASM
  crates/ca-algo-wasm/.gitignore
  crates/ca-algo-wasm/Cargo.lock
  crates/ca-algo-wasm/Cargo.toml
  crates/ca-algo-wasm/README.md
  crates/ca-algo-wasm/compile.sh
  crates/ca-algo-wasm/src/lib.rs
  crates/ca-algo-wasm/web/index.html
  crates/ca-algo-wasm/web/index.js
Labels: documentation

feat; BitGrid
  crates/ca-algo-wasm/src/lib.rs
  crates/ca-algo-wasm/tsconfig.json
  crates/ca-algo-wasm/web/index.js
  crates/ca-algo-wasm/web/index.ts
Labels: none

fix(algo): liveRatio parameter of RuleLoader.random
  packages/algo/CHANGELOG.md
  packages/algo/bit/tests/world.test.ts
  packages/algo/bit/tests/world.ts
  packages/algo/deno.jsonc
  packages/algo/rule-loader/mod.ts
Labels: package:algo

fix(algo): liveRatio parameter of RuleLoader.random (#107)
  packages/algo/CHANGELOG.md
  packages/algo/bit/tests/world.test.ts
  packages/algo/bit/tests/world.ts
  packages/algo/deno.jsonc
  packages/algo/rule-loader/mod.ts
Labels: package:algo

feat: add random cell test
  packages/apgcode/stringifyApgcode.test.ts
  packages/rle/parseRLE.test.ts
  packages/rle/stringifyRLE.test.ts
Labels: package:apgcode

.github/labeler.yml:

"package:rule":
  - changed-files:
      - any-glob-to-any-file: "packages/rule/*"

"package:algo":
  - changed-files:
      - any-glob-to-any-file: "packages/algo/*"

"package:rule-format":
  - changed-files:
      - any-glob-to-any-file: "packages/rule-format/*"

"package:rule-rle":
  - changed-files:
      - any-glob-to-any-file: "packages/rule-rle/*"

"package:apgcode":
  - changed-files:
      - any-glob-to-any-file: "packages/apgcode/*"

"documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**/*", "**/README.md"]
